<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Todo List</title> -->
    <titulo></titulo>  
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body class="container">
    <div id="app" class="jumbotron">
        <h1 v-text="title"></h1>
        <div class="input-group">
            <input type="text" placeholder="Enter New Task" v-model="newTask" class="form-control" v-on:keyup.enter="addTask()">
            <span class="input-group-btn">
                <button v-on:click="addTask()" class="btn btn-xs btn-primary" >Add</button>
            </span>
        </div>
        <ul class="list-group">
            <li v-for="(task, index) of tasks" class="list-group-item"  v-bind:class="{finished: task.finished}">
                {{task.text}}
                <span class="float-right">
                    <button type="button" class="btn btn-success" v-show="!task.finished"  v-on:click="task.finished = !task.finished">
                            <i class="fas fa-check"></i>
                    </button>

                    <button type="button" class="btn btn-danger" v-show="!task.finished" v-on:click="deleteTask(index)">
                            <i class="fas fa-trash-alt"></i>
                    </button>
                </span>
            </li>
        </ul>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
</body>
</html>